.amount-cell {
  font-size: 0.8em;
  text-align: right;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.text-cell {
  font-size: 0.8em;
  text-align: left;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.accumulatedValue {
  color: #999;
}